on:
  workflow_dispatch:
  schedule:
    # tenth of the month at 16:00 UTC
    - cron: "00 16 10 * *"

jobs:
  update-nix-flake:
    name: Monthly nix flake updatee
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          persist-credentials: false
      - uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be  # v3.15.1

      - run: nix flake update
      - run: nix flake check
      - run: nix build .#baguette-zimage

      - run: echo "Please update to this month's flakes" && exit 1
